* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/espaco.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
